<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<title>商品詳細</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row mt-4">
			<div class="col-md-5 text-center">
				<img class="mx-auto" alt="" th:src="|/${item.image}|">
			</div>
			<div class="col-md-7">
				<h2 class="text-large" th:text="${item.name}"></h2>
				<h6 th:text="|価格　：${item.price}円|"></h6>
				<h6 th:text="|在庫数：残り ${item.stockQuantity}個|"></h6>
				<p th:text="${item.description}"></p>
		
				<form method="post" th:action="@{'/item/' + ${item.id}}"
					class="form-inline align-items-center" th:object="${cartItemForm}">
					<input type="hidden" th:field="*{id}">
					<label>数量：</label>
					<input type="number" class="form-control col-4 mb-2"
							th:field="*{count}" th:errorclass="is-invalid">
					<label>個</label>
					<button class="ml-2">カートに入れる</button>
					<div class="invalid-feedback" th:errors="*{count}"></div>
				</form>
			</div>
		</div>

	</div>
</body>
</html>