<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>商品一覧</title>
</head>
<body>
	<div layout:fragment="content">
		<h2 class="my-4">商品一覧</h2>
		<div class="row">
			<div class="col-md-4 p-2" th:each="item: ${itemList}">
				<div class="card">
					<img th:src="@{'/image/' + ${item.image}}" class="border">
					<div class="card-body">
						<h4>
							<a class="card-title stretched-link" th:href="@{'/item/' + ${item.id}}" th:text="${item.name}"></a>
						</h4>
						<div class="text-muted clearfix">
							<h6 class="float-left" th:text="|${item.price}円|"></h6>
							<h6 class="float-right" th:text="|残り ${item.stockQuantity}個|"></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>