<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>商品一覧</title>
</head>
<body class="bg-light">
<div class="container-md">
	<a>ようこそ<span sec:authentication="principal.fullName"> </span>さん</a>
	<div th:text=" 'カートの中の商品の数は' + ${count} + '個です'"></div>
	<a th:text="カートの中を確認する" th:href="@{/list/cart}"></a>


		<div class="row">
			<div class="col-md-4 mt-3" th:each="item: ${itemList}">
				<a th:href="@{'/list/details/' + ${item.id}}"><img alt=""
					th:src="${item.itemImage}"
					th:href="@{'/list/details/' + ${item.id}}"></a>
				<div>
					<!-- 改行 -->
				</div>
				<a th:text="${item.itemName}"
					th:href="@{'/list/details/' + ${item.id}}"></a>
				<div th:text="${item.itemPrice} + '円' "></div>
				<div th:text=" '在庫数  ' + ${item.inventory.inventory} + '個' "></div>
			</div>
		</div>
	</div>
</body>
</html>