<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="katachi.spring.exercise.repository.UserMapper">

	<!-- ログインユーザー検索 -->
	<select id="findLoginUser"  resultType="LoginUser">
		select
			id
			, email
			, password
			, family_name
			, first_name
			, role
		from
			users
		where
			email = #{email}
	</select>

	<!-- ユーザー1件登録 -->
	<insert id="insertOne">
		insert into users(
			email
			, password
			, family_name
			, first_name
			, role
			, birthday
			, gender
			, phone_number
			, postal_code
			, address1
			, address2
			, address3
			, address4
		) values (
	        #{email}
			, #{password}
			, #{familyName}
			, #{firstName}
			, #{role}
			, #{birthday}
			, #{gender}
			, #{phoneNumber}
			, #{postalCode}
			, #{address1}
			, #{address2}
			, #{address3}
			, #{address4}
		)
	</insert>

   </mapper>