<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/login.css}">
<title>ログイン</title>
</head>
<body>
  <div id="content" class="clearfix mb-4">
    <div class="container text-center">
      <form method="post" th:action="@{/login}" class="form-login">
        <h2>ログイン</h2>
        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
          th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
          class="text-danger">
          ログインエラーメッセージ
        </p>
        <!-- ユーザーID -->
        <div class="form-group">
          <label for="userId" class="sr-only">userId</label>
          <input type="text" class="form-control" placeholder="メールアドレス" name="userId"/>
        </div>
        <!-- パスワード -->
        <div class="form-group">
          <label for="password" class="sr-only">password</label>
          <input type="password" class="form-control" placeholder="パスワード" name="password"/>
        </div>
        <input type="submit" value="ログイン" class="btn btn-primary" />
      </form>
      <a th:href="@{/signup}">新規登録はこちら</a>
    </div>
  </div>
</body>
</html>