<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<title>ログイン</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-4 mx-auto text-center">
			<h2 class="my-4">ログイン</h2>
			<form method="post" th:action="@{/login}">
				<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
					class="text-danger"
				>
					ログインエラーメッセージ
				</p>
		
				<div class="form-group">
					<label for="email" class="sr-only">メールアドレス</label>
					<input type="text" class="form-control" placeholder="メールアドレス" name="email"/>
				</div>
		
				<div class="form-group">
					<label for="password" class="sr-only">パスワード</label>
					<input type="password" class="form-control" placeholder="パスワード" name="password"/>
				</div>
				<input type="submit" value="ログイン" class="btn btn-primary mb-2" />
			</form>
		</div>
	</div>
</body>
</html>