<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css//signup.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>会員登録フォーム</title>
</head>
<body>
	<h2 class="text-center">会員登録フォーム</h2>

	<form id="signup-form" method="post" th:action="@{/signup/confirm}"
			class="form-signup p-3 border rounded" th:object="${signupForm}">

		<!-- ユーザーID -->
		<div class="form-group">
			<label for="userId" th:text="#{userId}"></label>
			<input type="text" class="form-control" th:field="*{userId}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{userId}"></div>
		</div>

		<!-- パスワード -->
		<div class="form-group">
			<label for="password" th:text="#{password}"></label>
			<input type="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{password}"></div>
		</div>

		<!-- 苗字 -->
		<div class="form-group">
			<label for="familyName" th:text="#{familyName}"></label>
			<input type="text" class="form-control" th:field="*{familyName}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{familyName}"></div>
		</div>

		<!-- 名前 -->
		<div class="form-group">
			<label for="firstName" th:text="#{firstName}"></label>
			<input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{firstName}"></div>
		</div>

		<!-- 生年月日 -->
		<div class="form-group">
			<label for="birthday" th:text="#{birthday}"></label>
			<input type="date" class="form-control" th:field="*{birthday}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{birthday}"></div>
		</div>

		<!-- 性別 -->
		<div class="form-group">
			<div th:each="item : ${genderMap}" class="form-check-inline">
				<input type="radio" class="form-check-input" th:value="${item.value}"
					th:field="*{gender}" th:checked="*{gender} == ${item.value}">
				<label class="form-check-label" th:text="${item.key}"></label>
			</div>
			<div class="text-danger" th:if="${#fields.hasErrors('gender')}"
				th:errors="*{gender}"></div>
		</div>

		<!-- 電話番号 -->
		<div class="form-group">
			<label for="phoneNumber" th:text="#{phoneNumber}"></label>
			<input type="text" class="form-control" th:field="*{phoneNumber}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
		</div>

		<!-- 郵便番号 -->
		<div class="form-group">
			<label for="postalCoder" th:text="#{postalCoder}"></label>
			<input type="text" class="form-control" th:field="*{postalCoder}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{postalCoder}"></div>
		</div>

		<!-- 都道府県 -->
		<div class="form-group">
			<label for="prefectures" th:text="#{prefectures}"></label>
			<select class="form-control" th:field="*{prefectures}" th:errorclass="is-invalid">
				<option th:each="item : ${list}" th:value="${item}"
					th:selected="${item} == *{prefectures}" th:text="${item}"></option>
			</select>
		</div>

		<!-- 市区町村 -->
		<div class="form-group">
			<label for="municipalities" th:text="#{municipalities}"></label>
			<input type="text" class="form-control" th:field="*{municipalities}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{municipalities}"></div>
		</div>

		<!-- 丁目  番地  号 -->
		<div class="form-group">
			<label for="number" th:text="#{number}"></label>
			<input type="text" class="form-control" th:field="*{number}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{number}"></div>
		</div>
		
		<!-- 登録ボタン -->
		<button type="submit" name="submit" class="btn btn-light btn-outline-dark">
			登録
		</button>

	</form>
</body>
</html>